.dealer-login-bg{
    background: url('../img/Atoma-copie.jpg') rgba(0,0,0,0.2) no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

@media screen and (max-width:1024px){
    .dealer-login-bg{
        background-position: -220px center;
    }
}
  
  .login-popup {
    margin: 70px auto;
    padding: 25px 0 45px;
    background: #ffffff;
    width: 100%;
    max-width: 650px;
    position: relative;
    top:100px;
    border-radius: 5px;
    box-shadow: 12px 15px 8px rgb(0 0 0 / 50%);
  }
  
  .login-popup h3 {
    margin: 0 0 30px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
  }
  
  .login-popup h3, p{
      text-align: left;
      margin-bottom:15px;
  }


  
  .login-popup .close {
    position: absolute;
    top: -25px;
    right: -3px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: 300;
    text-decoration: none;
  }
  
  .login-popup .close:hover {
    color: var(--text);
  }
  
  .login-popup .login-popup-content {
    max-height: 30%;
  }

  .login-popup .login-popup-button{
    background-color: #fac212;
    border: none;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 10%);
    color: #ffffff;
    padding: 10px 15px;
    font-size: 18px;
    font-family: Montserrat,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    opacity: 1;
    margin:5px auto 0;
    display: block;
  }



  .login-popup-button:hover{
    background: #f90;
    transition: all .1s;
  }

  .login-popup input{
    border: 1px solid #fac21280;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 10%);
    padding: 10px;
    width: 100%;
   
    display: inline-block;
    max-width:400px;
  }

  .login-popup-form{
      max-width: 400px;
      margin:0 auto;
      padding:0 5px;
  }

  .login-popup .logo{
      width:100%;
      max-width: 115px;
      display: block;
      float: left;
  }

  .logo-2{
      width: 100%;
      max-width: 340px;
      float: left;
  }

.close svg{
    fill: #fac212;
    width: 30px;
    background: white;
    border-radius: 50%;
    padding: 4px;
    box-shadow: 0 2px 6px -2px rgb(0 0 0 / 50%);
}

.close svg:active{
    fill:#f90;
    box-shadow: none;
}
/*DEALER PORTAL POPUP*/



  /*.popup-bg{
      padding:20px;
      background-color: white;
      box-shadow: 12px 15px 8px rgb(0 0 0 / 10%);
  }

  .flex-text{
    display: inline-block;
    width: 78%;
    padding:0 0 0 20px;
  }

  .popup input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ 
    color: #bcc3c7;
    opacity: 1;  Firefox 
  }*/

  
 /* .popup-overlay{
    padding: 20px;
    background-color: red;
    box-shadow: 12px 15px 8px rgb(0 0 0 / 10%);
  }*/

  @media screen and (max-width:710px){
      .login-popup{
          width:90%;
      }
      .login-popup h3, p{
          text-align: center;
          margin:0 auto 15px 0;
      }
      .flex-text{
          display:block;
          clear: both;
          width: 100%;
      }
      
      
  }

 
/*
  .peel:before{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    background: white;
    background: linear-gradient(135deg, #F8F8F8 40%, #aaa 50%, #ccc 56%, white 80%);
    z-index: 1000;
    box-shadow: -5px -1px 5px rgb(0 0 0 / 40%);
    width:0;
    height: 0;
    animation: peeloff 3s ease-out;
    animation-fill-mode: forwards;
    border-radius: 10px 0 10px 0;
}

@keyframes peeloff {
    0% {
       width:100%;
       height:100%;
    }

    100% {
       width:0;
        height:0;
    }
}
*/


.logo-wrap{
    width: 100%;
    max-width: 455px;
    margin:10px auto;
    padding-bottom: 120px;
}

.payment{
    height: auto;
    width: 30px;
    display: inline-block;
    padding: 5px 0;
    background: #fac212;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 10%);
}

.inputwrap{
    display: flex;
    width: 400px;
    justify-content: center;
    padding: 5px 0;
    margin:0 auto;
    max-width: 100%;
}

.forget-pass{
    font-size:13px;
    font-family:"Montserrat","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #a4a4a4;
    text-align: right;
    font-weight: 400;
    margin:10px 0 0 0;
   
}

.forget-pass a{
    text-decoration: none;
    color: #a4a4a4;
}

.forget-pass a:active{
    color: #fac212;
}

.lock-grey{
    width:15px;
    margin-bottom: -3px;
    padding-right: 2px;
}

@media screen and (max-width:522px){
    .logo, .logo-2{
        float:none;
        margin:0 auto;
        display: block;
    }

    .logo-wrap{
        padding-bottom:20px;
    }
}

@media screen and (max-height:736px){
    .login-popup{
        top:0;
    }
}

.belowbutton{
    float: right;
    padding: 3px 0 0 8px;
    width: auto;
    
}

#rememberme {
    display: flex;
    box-shadow: none;
    width: auto;
    float: right;
}

.forget-pass label{
    margin-right: 10px;
}

.remember{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

#rememberme:hover{
    cursor: pointer;
}

@media (max-width:505px){
	.login-popup .logo{
		margin: 0 auto;
    	float: none;
		max-width: 80px;
	}
	.logo-2{
		max-width: 270px;
	}
	.logo-wrap{
		margin:0 auto;
	}
}